<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rodri.todo">


    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.activity.SplashScreenActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.activity.MainActivity" android:label="" android:screenOrientation="portrait"></activity>

        <activity android:name=".ui.activity.NewCategoryActivity" android:screenOrientation="portrait"></activity>

        <activity android:name=".ui.activity.TasksActivity" android:label="" android:screenOrientation="portrait"></activity>

        <activity android:name=".ui.activity.NewTaskActivity" android:screenOrientation="portrait"></activity>

        <activity android:name=".ui.activity.NewNotificationActivity" android:screenOrientation="portrait"></activity>

        <activity android:name=".ui.activity.NotificationActivity" android:screenOrientation="portrait"></activity>

        <receiver android:name=".notification.AlarmReceiver">
            <intent-filter>
                <action android:name="android.media.action.DISPLAY_NOTIFICATION" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <receiver android:name=".utils.BootBroadcastReceiver" android:enabled="true" android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>

        <service android:name=".services.SetAlarmManagerService" android:enabled="true"/>

    </application>

</manifest>
